/*
Assignment: Loaded Content by Ajax Assignment
Author: Geetanjali Pawase
*/

/*
Hexadecimal Codes of Colours Used:
#263754;
#0EB1D2;
#FFFFFF;
#000000;
*/

/*
Google Fonts Used:
Merriweather/serif;
Open Sans/sans-serif
*/


/*------importing fonts from google------*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

    * {
        box-sizing: border-box;
    }

/*------body styles------*/

    body {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 0.75rem;
        line-height: 1.5;
        color: #000000;
        margin: 0;
    }

/*------heading styles------*/

    h1,h2,h3 {
        font-family: 'Merriweather','Times New Roman', serif;
        font-size: 0.75rem;
        padding: 0;
    }

/*------paragraph styles------*/

    p {
        margin: 1% 0;
    }

/*------navbar styles------*/

    .navigation {
        background-color: #263754;
        padding: 1% 0;
    }

    .navigation ul {
        list-style-type: none;
        text-align: left;
         padding:0.5% 2%;
    }

    .navigation ul li:nth-child(1) {    
        text-align: center;
    }

    .navigation .logo {    
        color: #FFFFFF;
    }

    a:link,
    a:visited,
    a:active {
        color: #FFFFFF;
    }

    .menu{    
        padding: 0 2rem;

    }

/*------masthead styles------*/

    .masthead {
        background-image: url("../img/globe.jpg");
        background-size: cover;
        background-color: #046865;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
    }

/*------main-content styles------*/

    .main-content{
        display: flex;
        flex-direction: column;	
        padding:0 0; 

    }

    .information{	
        display: flex;
        flex-direction: column;
        float: left;
        padding: 2rem 2rem;    
    }

    .information.info-section{	
        display: flex;
        flex-direction: row;	
    }

    .info-section figure{	
        float: left;	
    }

    .info-section figcaption{
        text-align: center;
    }

    .info-section img{
        text-align: center;
        max-width: 100%;
        width: 380px;
        height: 300px;
        object-fit: cover;	
    }

/*------portfolio styles------*/

    .image-row{
        display:grid;
    }

    .image-layout{	
        margin-bottom: 5%;
    }

    .content{
        text-align: center;
        display: grid;	
        margin-top:1rem;	
    }

    .image-box{
        width: 100%;
    }

    .image-box img{		
        max-width: 100%;
        width: 350px;
        height: 350px;
        object-fit: cover;		
    }


/*------button styles------*/

    .button {
        background-color: #0EB1D2;
        margin-right: 2.2%;
        padding: 2.2%;
        font-size: 0.75rem;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
    }

    #active-button {
	    background-color: #263754;
    }

/*------footer styles------*/  

    footer {
        background-color: #263754;
        color: #FFFFFF;
    }

    .footer-style {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "col-1 col-2";
    }

    .col-1 {
        grid-area: col-1;
        margin: 0 auto;
    }

    .col-2 {
        grid-area: col-2;
        margin: 0 auto;
    }

    footer .fab {
        padding-right: 2%;
    }


/*media query for tablet*/
@media (min-width: 36rem) {
    
/*------body styles------*/
    
    body {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        background-color: #FFFFFF;
        color: #000000;
        margin: 0;
    }
    
/*------heading styles------*/
    
    h1,h2,h3 {
        font-family: 'Merriweather','Times New Roman', serif;
        font-size: 1rem;
        font-weight: 700;
        padding: 0;
        text-transform: uppercase;
    }

/*------paragraph styles------*/    

    p {
        margin: 1% 0;
    }

    
/*------navbar styles------*/
    
    .navigation {
        background-color: #263754;
        padding: 1% 0;
    }
    
    .navigation ul li {    
        display: inline;
        padding: 0 1.5rem;    
    }  
    
    .menu{    
        padding: 0 2rem;
    } 

    a:link,
    a:visited,
    a:active {
        color: #FFFFFF;
    }

    a:hover {
        color: #263754;
        background-color: #FFFFFF;
    }

/*------masthead styles------*/

    .masthead {
        background-image: url("../img/globe.jpg");
        background-size: cover;
        background-color: #0EB1D2;
        max-width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .masthead h1{
        text-align: center;
        color: #FFFFFF;
        font-size: 1rem;
    }
    
/*------main-content styles------*/

    
    .main-content{
		display: flex;
    	flex-direction: column;	
    	padding: 0 1.2rem; 
		margin-bottom: 10%;
	}
    
    .information{
        display: flex;
        flex-direction: column;
        padding: 1% 15%;
        border-bottom: 1px solid #ccc;
    }
	
   .image-row{
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}
    
	.image-layout{	
		margin-bottom: 2%;
	}
    
    /*------footer styles------*/
    
    footer {
        background-color: #263754;
        color: #FFFFFF;
    }

    .footer-style {
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "col-1 col-2";
    }

    .col-1 {
        grid-area: col-1;
        margin: 0 auto;
    }

    .col-2 {
        grid-area: col-2;
        margin: 0 auto;
    }

    footer .fab {
        padding-right: 2%;
    }
}

/*media query for desktop*/
@media (min-width: 80rem) {
    
/*------body styles------*/
    
    body {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 1.25rem;
        line-height: 1.5;
        background-color: #FFFFFF;
        color: #000000;
        margin: 0;
    }
    
/*------heading styles------*/
    
    h1,h2,h3 {
        font-family: 'Merriweather','Times New Roman', serif;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0;
        text-transform: uppercase;
    }

/*------paragraph styles------*/    

    p {
        margin: 1% 0;
    }

    
/*------navbar styles------*/
    
    .menu {
        text-align: center;
    }

    
/*------masthead styles------*/

    .masthead {
        background-image: url("../img/globe.jpg");
        background-size: cover;
        background-color: #0EB1D2;
        max-width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 5%;
    }
    
    .masthead h1{
        text-align: center;
        color: #FFFFFF;
        font-size: 1.25rem;
    }
    
/*------main-content styles------*/

    .image-row{
        grid-template-columns: repeat(3, 1fr);
		column-gap: 10px;
    }
    
    .main-content{
        display: flex;
    	flex-direction: column;	
    	padding: 0 8%; 
		margin-bottom: 8%;
    }
    
    .button{
        background-color: #0EB1D2;
        margin-right: 2%;
        padding: 1.8%;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
    }
    
    #active-button{
	    background-color: #263754;
    }

/*------footer styles------*/
    
    footer {
        background-color: #263754;
        color: #FFFFFF;
    }

    .footer-style {
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "col-1 col-2";
    }

    .col-1 {
        grid-area: col-1;
        margin: 0 auto;
    }

    .col-2 {
        grid-area: col-2;
        margin: 0 auto;
    }


}



