/*
Assignment: Content Manipulation Assignment
Author: Geetanjali Pawase
*/

/*
Hexadecimal Codes of Colours Used:
#263754;
#0EB1D2;
#FFFFFF;
#000000;
*/

/*
Google Fonts Used:
Merriweather/serif;
Open Sans/sans-serif
*/


/*------importing fonts from google------*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');

    * {
        box-sizing: border-box;
    }

/*------body styles------*/

    body {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 0.75rem;
        line-height: 1.5;
        color: #000000;
        margin: 0;
    }

/*------heading styles------*/

    h1,h2,h3 {
        font-family: 'Merriweather','Times New Roman', serif;
        font-size: 0.75rem;
        padding: 0;
    }

/*------paragraph styles------*/

    p {
        margin: 1% 0;
    }

/*------image styles------*/

    img {
        max-width: 100%;
    }

/*------navbar styles------*/

    nav {
        background-color: #263754;
        padding: 1% 0;
    }

    ul {
        list-style-type: none;
        text-align: left;
    }

    ul li {
        display: inline;
        padding-left: 2rem;
    }

    ul li a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:link,
    a:visited,
    a:active {
        color: #FFFFFF;
    }

    .menu {
        max-width: 60rem;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
        grid-template-areas: 
        "logo"
        "home"
        "about";
    }

    .logo {
        grid-area: logo;
    }   

    .home {
        grid-area: home;
    }

    .about {
        grid-area: about;
    }

/*------masthead styles------*/

    .masthead {
        background-image: url("../img/globe.jpg");
        background-size: cover;
        background-color: #046865;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .masthead h1{
        text-align: center;
        color: #FFFFFF;
    }


/*------main-content styles------*/

    .main-content {
        max-width: 100%;
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 2rem;
    }

/*------button styles------*/

    .button {
        background-color: #0EB1D2;
        margin-right: 2.2%;
        padding: 2.2%;
        font-size: 0.75rem;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
    }

    #active-button {
	    background-color: #263754
    }

/*------footer styles------*/  

    footer {
        background-color: #263754;
        color: #FFFFFF;
    }

    .footer-style {
        width: 70%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "col-1 col-2";
    }

    .col-1 {
        grid-area: col-1;
        margin: 0 auto;
    }

    .col-2 {
        grid-area: col-2;
        margin: 0 auto;
    }

    footer .fab {
        padding-right: 2%;
    }


/*media query for desktop*/
@media (min-width: 80rem) {
    
/*------body styles------*/
    
    body {
        font-family: 'Open Sans', 'Arial', sans-serif;
        font-size: 1.25rem;
        line-height: 1.5;
        background-color: #FFFFFF;
        color: #000000;
        margin: 0;
    }
    
/*------heading styles------*/
    
    h1,h2,h3 {
        font-family: 'Merriweather','Times New Roman', serif;
        font-size: 1.25rem;
        font-weight: 700;
        padding: 0;
        text-transform: uppercase;
    }

/*------paragraph styles------*/    

    p {
        margin: 1% 0;
    }

    
/*------navbar styles------*/
    
    nav {
        background-color: #263754;
        padding: 1% 0;
    }
    
    ul {
        list-style-type: none;
        text-align: center;
    }

    ul li {
        display: inline;
    }

    ul li a {
        color: #FFFFFF;
        text-decoration: none;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        padding: 2% 12%;
    }

    a:link,
    a:visited,
    a:active {
        color: #FFFFFF;
    }

    a:hover {
        color: #263754;
        background-color: #FFFFFF;
    }

    .menu {
        max-width: 60rem;
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 0.5rem;
        grid-template-areas: 
        "logo home about";
    }

    .logo {
        grid-area: logo;
    }    

    .home {
        grid-area: home;
    }

    .about {
        grid-area: about;
    }

    
/*------masthead styles------*/

    .masthead {
        background-image: url("../img/globe.jpg");
        background-size: cover;
        background-color: #0EB1D2;
        max-width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    
    .masthead h1{
        text-align: center;
        color: #FFFFFF;
        font-size: 1.25rem;
    }
    
/*------main-content styles------*/

    .main-content{
        max-width: 80%;
        background-color: #FFFFFF;
        margin: 0 auto;
        padding: 3%;
    }
    
    .information .info-section h1{
		padding-left: 2rem;
        padding-top: 2rem;
        color: #263754;
	}

	.information .info-section figure{
	    max-width: 40%;
	    width: 40%;
	    float: left;
	    object-fit: contain;
	    object-position: top;
	    margin: 24px 40px;
	}

	.information .info-section div{
	    margin: 0;
	    padding-left: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #263754;
	}

	.info-section figure{
		margin: 0;
		flex-basis: 50%;
	}
    
    .button {
        background-color: #0EB1D2;
        margin-right: 2%;
        padding: 1.8%;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
    }
    
    #active-button {
	    background-color: #263754
    }

/*------footer styles------*/
    
    footer {
        background-color: #263754;
        color: #FFFFFF;
    }

    .footer-style {
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        grid-template-areas: 
        "col-1 col-2";
    }

    .col-1 {
        grid-area: col-1;
        margin: 0 auto;
    }

    .col-2 {
        grid-area: col-2;
        margin: 0 auto;
    }

    footer .fab {
        padding-right: 2%;
    }


}



